# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
src/index.html
src/app/app.component.css
src/app/app.component.html
src/app/app.module.ts
src/app/calculator/calculator.component.css
src/app/calculator/calculator.component.html
src/app/calculator/calculator.component.spec.ts
src/app/calculator/calculator.component.ts
src/app/child/child.component.css
src/app/child/child.component.html
src/app/child/child.component.spec.ts
src/app/child/child.component.ts
src/app/child1/child1.component.css
src/app/child1/child1.component.html
src/app/child1/child1.component.spec.ts
src/app/child1/child1.component.ts
src/app/directives/mycolor.directive.spec.ts
src/app/directives/mycolor.directive.ts
src/app/event-binding/event-binding.component.css
src/app/event-binding/event-binding.component.html
src/app/event-binding/event-binding.component.spec.ts
src/app/event-binding/event-binding.component.ts
src/app/first/first.component.css
src/app/first/first.component.html
src/app/first/first.component.spec.ts
src/app/first/first.component.ts
src/app/interpotaion/interpotaion.component.css
src/app/interpotaion/interpotaion.component.html
src/app/interpotaion/interpotaion.component.spec.ts
src/app/interpotaion/interpotaion.component.ts
src/app/java/java.component.css
src/app/java/java.component.html
src/app/java/java.component.spec.ts
src/app/java/java.component.ts
src/app/MyPipes/coursesearch.pipe.spec.ts
src/app/MyPipes/coursesearch.pipe.ts
src/app/MyPipes/coursesort.pipe.spec.ts
src/app/MyPipes/coursesort.pipe.ts
src/app/MyPipes/my-upper-case.pipe.spec.ts
src/app/MyPipes/my-upper-case.pipe.ts
src/app/MyPipes/search-by-name.pipe.spec.ts
src/app/MyPipes/search-by-name.pipe.ts
src/app/MyPipes/sort.pipe.spec.ts
src/app/MyPipes/sort.pipe.ts
src/app/parent/parent.component.css
src/app/parent/parent.component.html
src/app/parent/parent.component.spec.ts
src/app/parent/parent.component.ts
src/app/parent1/parent1.component.css
src/app/parent1/parent1.component.html
src/app/parent1/parent1.component.spec.ts
src/app/parent1/parent1.component.ts
src/app/pipes/pipes.component.css
src/app/pipes/pipes.component.html
src/app/pipes/pipes.component.spec.ts
src/app/pipes/pipes.component.ts
src/app/product/product.component.css
src/app/product/product.component.html
src/app/product/product.component.spec.ts
src/app/product/product.component.ts
src/app/property/property.component.css
src/app/property/property.component.html
src/app/property/property.component.spec.ts
src/app/property/property.component.ts
src/app/react-form/react-form.component.css
src/app/react-form/react-form.component.html
src/app/react-form/react-form.component.spec.ts
src/app/react-form/react-form.component.ts
src/app/Routing/tech-routing/tech-routing.module.ts
src/app/sasi/sasi.component.css
src/app/sasi/sasi.component.html
src/app/sasi/sasi.component.spec.ts
src/app/sasi/sasi.component.ts
src/app/second/second.component.css
src/app/second/second.component.html
src/app/second/second.component.spec.ts
src/app/second/second.component.ts
src/app/services/calculator.service.spec.ts
src/app/services/calculator.service.ts
src/app/services/data1.service.spec.ts
src/app/services/data1.service.ts
src/app/services/java.service.spec.ts
src/app/services/java.service.ts
src/app/services/product.service.spec.ts
src/app/services/product.service.ts
src/app/services/service.service.spec.ts
src/app/services/service.service.ts
src/app/services/web.service.spec.ts
src/app/services/web.service.ts
src/app/sibling1/sibling1.component.css
src/app/sibling1/sibling1.component.html
src/app/sibling1/sibling1.component.spec.ts
src/app/sibling1/sibling1.component.ts
src/app/sibling2/sibling2.component.css
src/app/sibling2/sibling2.component.html
src/app/sibling2/sibling2.component.spec.ts
src/app/sibling2/sibling2.component.ts
src/app/temp-driven-form/temp-driven-form.component.css
src/app/temp-driven-form/temp-driven-form.component.html
src/app/temp-driven-form/temp-driven-form.component.spec.ts
src/app/temp-driven-form/temp-driven-form.component.ts
src/app/two-binding/two-binding.component.css
src/app/two-binding/two-binding.component.html
src/app/two-binding/two-binding.component.spec.ts
src/app/two-binding/two-binding.component.ts
src/app/web/web.component.css
src/app/web/web.component.html
src/app/web/web.component.spec.ts
src/app/web/web.component.ts
src/assets/image/angular.jpg
src/assets/image/bat.jpg
src/assets/image/corejava.jpg
src/assets/image/css.jpg
src/assets/image/hibernate.jpg
src/assets/image/html.png
src/assets/image/jdbc.jpg
src/assets/image/js.jpg
src/assets/image/ntr.jpg
src/assets/image/restapi.jpg
src/assets/image/spring.jpg
src/assets/image/springboot.png
src/assets/image/vicky.jpg
src/assets/JsonModule/java.json
src/assets/JsonModule/product.json
src/assets/JsonModule/web.json
