<h1>App Component</h1>
<!-- <sasi></sasi>
================================================================================================================================================ -->
 <!-- <interpotaion></interpotaion>
================================================================================================================================================

<app-property></app-property>
================================================================================================================================================

<app-event-binding></app-event-binding>
================================================================================================================================================

<app-two-binding></app-two-binding> 
================================================================================================================================================ -->
<!-- <h4>Assignment-08</h4>
<app-product></app-product> 
================================================================================================================================================ -->

<!-- <app-pipes></app-pipes> 
================================================================================================================================================ -->


<!--
    <h4>Assignment-09<\h4> 
    <app-calculator></app-calculator> 
================================================================================================================================================ -->
<!-- <div>
    <h1>App Component</h1>

    <app-parent> </app-parent>
</div>
================================================================================================================================================ -->
<!-- <h4>Assignment-10,11</h4>
<div >
    <h1 appMycolor>App Component</h1>
    <app-parent1> </app-parent1>
</div>

================================================================================================================================================ -->

<!--<h1>App Component</h1><hr>
<h4>===Sibling Components Communication===</h4>
<app-first></app-first>
<app-second></app-second>
================================================================================================================================================ -->
<!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Assignment-13</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a class="nav-link" routerLink='/java' routerLinkActive='active'>Java</a></li>
        <li><a class="nav-link" routerLink='/web' routerLinkActive='active'>Web</a></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
  ================================================================================================================================================
<h1>App Component</h1><hr>
<h4>===Sibling Components Communication Assignment-12===</h4>
<app-sibling1></app-sibling1>
<app-sibling2></app-sibling2>
================================================================================================================================================ -->
<app-temp-driven-form></app-temp-driven-form>
================================================================================================================================================
<!-- <h4>Assignment-15</h4>
<app-react-form></app-react-form>
================================================================================================================================================  -->